<!doctype html>
    <html lang="en">
      <head>
        <% include ./header.ejs%>
      </head>
      <body>
        <% include ./menu.ejs %>
        <div class="container" style="margin-top:60px;">
          <form class="form-inline pull-right" style="margin-bottom:10px;">
            <div class="form-group">
              <select class="form-control" id="searchCondition">
                <option value="groupName">그룹명</option>
                <option value="name">도메인명</option>
                <option value="abbreviation">영문약어명</option>
                <option value="fullName">영문명</option>
              </select>
              <input type="text" id="keyword" placeholder="키워드" class="form-control">
              <button type="button" class="btn btn-success" id="searchBtn">검색</button>
            </div>
          </form>
          <table class="table table-bordered table-hover" id="listTbl">
            <tr>
              <th class="text-center">순번</th>
              <th class="text-center">그룹명</th>
              <th class="text-center">도메인명</th>
              <th class="text-center">영문약어명</th>
              <th class="text-center">영문명</th>
              <th class="text-center">데이터타입</th>
              <th class="text-center">정의</th>
              <th class="text-center">작성일</th>
              <th class="text-center">삭제/이력관리</th>
            </tr>
            <% 
            var data = JSON.parse(list);
            var num = 1;
            data.forEach(function(value){ %>
            <tr>
              <td class="text-center" onclick="getInfoForUpdate(<%=JSON.stringify(value) %>)"><%=num %></td>
              <td onclick="getInfoForUpdate(<%=JSON.stringify(value) %>)"><%=value['GROUPNAME'] %></td>
              <td onclick="getInfoForUpdate(<%=JSON.stringify(value) %>)"><%=value['NAME'] %></td>
              <td onclick="getInfoForUpdate(<%=JSON.stringify(value) %>)"><%=value['ABBREVIATION'] %></td>
              <td onclick="getInfoForUpdate(<%=JSON.stringify(value) %>)"><%=value['FULLNAME'] %></td>
              <td onclick="getInfoForUpdate(<%=JSON.stringify(value) %>)"><%=value['DATATYPE'] %>(<%=value['DATALENGTH'] %>, <%=value['DATADECIMAL'] %>)</td>
              <td onclick="getInfoForUpdate(<%=JSON.stringify(value) %>)"><%=value['DEFINITION'] %></td>
              <td onclick="getInfoForUpdate(<%=JSON.stringify(value) %>)"><%=value['WRITEDATE'] %></td>
              <td class="text-center"><button type="button" class="btn btn-danger" onclick="deleteProcess('word', <%=value['SEQ']%>);">삭제</button>&nbsp;<button type="button" class="btn btn-default" onclick="getHistory('word', <%=value['SEQ']%>);">이력</button></th>
            </tr>
              <% num++; }) %>
          </table>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-default pull-right" style="margin-right:5px;">엑셀 다운로드</button>
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" id="addBtn" style="margin-right:5px;">추가</button>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">추가</h4>
                </div>
                <form class="form-horizontal" id="executeForm" action="/create" method="post">
                  <div class="modal-body">
                    <input type="hidden" id="domainSeq" name="domainSeq" />
                    <div class="form-group">
                      <label class="col-sm-2 control-label">그룹명</label>
                      <div class="col-sm-10"><input type="text" class="form-control" id="domainGroupName" name="domainGroupName" placeholder="그룹명"></div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">도메인명</label>
                      <div class="col-sm-8"><input type="text" class="form-control" id="domainName" name="domainName" placeholder="도메인명"></div>
                      <button type="button" class="btn btn-default" id="checkDomainNameBtn">확인</button>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">영문약어명</label>
                      <div class="col-sm-10"><input type="text" class="form-control" id="domainAbbreviation" name="domainAbbreviation" placeholder="영문약어명"></div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">영문명</label>
                      <div class="col-sm-10"><input type="text" class="form-control" id="domainFullName" name="domainFullName" placeholder="영문명"></div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">데이터타입</label>
                      <div class="col-sm-10"><input type="text" class="form-control" id="domainDataType" name="domainDataType" placeholder="데이터타입"></div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">길이</label>
                      <div class="col-sm-10"><input type="text" class="form-control" id="domainDataLength" name="domainDataLength" placeholder="길이"></div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">소수</label>
                      <div class="col-sm-10"><input type="text" class="form-control" id="domainDataDecimal" name="domainDataDecimal" placeholder="소수"></div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">정의</label>
                      <div class="col-sm-10"><input type="text" class="form-control" id="domainDefinition" name="domainDefinition" placeholder="정의"></div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <label for="ID" class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-5"><input type="text" class=" form-control" id="id" name="id" placeholder="ID"></div>
                    <button type="button" class="btn btn-primary" id="executeBtn">추가</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="historyModalLabel"></h4>
                </div>
                <div class="modal-body">
                  <table class="table table-bordered table-hover" id="historyTbl">
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.container -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/commonJs/common.js"></script>
        <script>
        $(document).ready(function () {

          $("#checkDomainNameBtn").click(function () {
            var data = new Object();
            data.condition =  "name";
            data.keyword = $("#domainName").val();
            data.whereMode = "equal";
            $.ajax({
              url:"/keywordSearch",
              type:'post',
              data: data,
              dataType:'json',
              success:function(data){
                $.each(data, function(key, value){
                });

                if (0 >= data.length) {
                  alert('표준 단어명에 있는 단어만 입력가능합니다.');
                  $("#domainName").val("");
                  $("#domainName").focus();
                } else {
                  $("#domainAbbreviation").val(data[0].ABBREVIATION);
                  $("#domainFullName").val(data[0].FULLNAME);
                }
              }
            });
          }); 

           // 추가 버튼 클릭
          $("#addBtn").click(function() {
            $("#domainSeq").val("");
            $("#domainGroupName").val("");
            $("#domainName").val("");
            $("#domainAbbreviation").val("");
            $("#domainFullName").val("");
            $("#domainDataType").val("");
            $("#domainDataLength").val("");
            $("#domainDataDecimal").val("");
            $("#domainDefinition").val("");
            $("#myModalLabel").text("추가");
            $("#executeBtn").text("추가");
            $("#executeForm").attr("action", "/create/"+pathName);
            $('#myModal').modal('show'); 
          });

          $("#searchBtn").click(function () {
            var data = new Object();
            data.condition =  $("#searchCondition").val();
            data.keyword = $("#keyword").val();

            $.ajax({
              url:"/keywordSearch/word",
              type:'post',
              data: data,
              dataType:'json',
              success:function(data){
                var list = '<tr>'
                  +'<th class="text-center">순번</td>'
                  +'<th class="text-center">단어명</td>'
                  +'<th class="text-center">영문약어명</td>'
                  +'<th class="text-center">영문명</td>'
                  +'<th class="text-center">구분</td>'
                  +'<th class="text-center">정의</td>'
                  +'<th class="text-center">작성일</td>'
                  +'<th class="text-center">삭제/이력관리</th>'
                +'<tr>';
                var number = 1;
                var mode = "'word'";
                $.each(data, function(key, value){
                  list += '<tr>';
                  list += '<td class="text-center">'+ number + '</td>';
                  list += '<td>'+ value.NAME + '</td>';
                  list += '<td>'+ value.ABBREVIATION + '</td>';
                  list += '<td>'+ value.FULLNAME + '</td>';
                  list += '<td class="text-center">'+ value.SORTATION + '</td>';
                  list += '<td>'+ value.DEFINITION + '</td>';
                  list += '<td class="text-center">'+ value.WRITEDATE + '</td>';
                  list += '<td class="text-center"><button type="button" class="btn btn-danger" onclick="deleteProcess('+mode+','+  value.SEQ + ');">삭제</button>&nbsp;<button type="button" class="btn btn-default" onclick="getHistory('+mode+','+  value.SEQ + ');">이력</button></td>';
                  list += '</tr>';
                  number++;
                });
                $("#listTbl").html(list);
              }
            });
          });
        });

        function getInfoForUpdate(obj) {
          $("#domainSeq").val(obj['SEQ']);
          $("#domainGroupName").val(obj['GROUPNAME']);
          $("#domainName").val(obj['NAME']);
          $("#domainAbbreviation").val(obj['ABBREVIATION']);
          $("#domainFullName").val(obj['FULLNAME']);
          $("#domainDataType").val(obj['DATATYPE']);
          $("#domainDataLength").val(obj['DATALENGTH']);
          $("#domainDataDecimal").val(obj['DATADECIMAL']);
          $("#domainDefinition").val(obj['DEFINITION']);
          $("#myModalLabel").text("수정");
          $("#executeBtn").text("수정");
          $("#executeForm").attr("action", "/update/domain");
          $('#myModal').modal('show'); 
        }
        </script>
      </body>
    </html>